body{

  background: url("https://img.freepik.com/free-vector/dark-hexagonal-background-with-gradient-color_79603-1409.jpg?semt=ais_hybrid&w=740");
    /* background-repeat: no-repeat; */
    background-size: contain;
  color: wheat;
}
#goalForm{
     display: block;
    padding: 20px;
    margin: 5%;
    margin-left: 360px;
    margin-right: 409px;
    display:flex;
    align-items: center;
    justify-content: center;
    border: dotted 2px #7d7e64;
    flex-direction: column;
    font-size:x-large;
    color: yellow;
    background:url("https://cdn.photoroom.com/v2/image-cache?path=gs://background-7ef44.appspot.com/backgrounds_v3/black/47_-_black.jpg");
    background-repeat: no-repeat; 
    background-size:contain;  
    font-weight: bolder;
   
}
input{  

     color: white;
    font-weight: bolder;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    border:solid 1px, red;
    font-size: large;
    background: none;
}
#goalForm input::placeholder{
    color: cyan;
    font-size:large;
    font-weight: bolder;

}
#goalForm input:hover::placeholder{
    color: red ;
}
button{
    padding: 10px;
    background: orangered;
    border-radius: 15px;
    margin: 10px;

}
button:hover{
    padding: 7px;
    background: greenyellow;
}
#delete{
 display: flex;
 margin-left: 400px;
 margin-top: -164px;
   
}
#eddit{
display: flex;
 margin-left: 400px;
 
}
#edditInput{
    margin: 70px;
}
h1{
    color: red;
}
h3{
    color: green;
}
span{
    color:cyan;
    background: black;  
 
}
#dataView{
  margin: -10px;
  margin-bottom: 50px;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.6); /* optional: improves readability */
  border-radius: 10px;
  color: wheat;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2rem;
}